html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    margin-bottom: 50px;
    flex: 1;
    /* your main content */
}

a{
    color: #afafff !important;
    text-decoration: none !important;
}

h1{
    margin: 20px !important;
    text-align: center;
    font-weight: bold;
}

.hd span{
    color: brown;
}

#MCQ-container{
    border: 2px solid black;
    padding: 20px;
    margin: auto;
    max-width: 800px;
}

.MCQ-edit{
    border: none !important;
    padding: 0px !important;
}

#progress{
    font-size: 20px;
    padding: 10px 0;
    font-weight: 500;
}

#qst{
    color: brown;
}

#err{
    color: red;
    font-weight: bold;
    font-size: 20px;
}

#timer{
    font-size: 20px;
    font-weight: bold; 
    color: red;
}

.opt label {
    background-color: whitesmoke;
    padding: 10px;
    color: black;
    display: block;
    margin: 25px 0;
    font-size: 20px;
    font-weight: 500;
}

.next_btn{
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    padding: 10px;
    border: none;
    background-color: green;
    color: white;
}

footer {
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    background-color: black;
}

#result{
    background-color: green;
    padding: 20px;
    color: white;
    font-size: 30px;
}

#comment{
    font-size: 30px;
    padding: 20px;
}

#topic{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    text-transform: capitalize;

}
